
.showCurrentSlide{
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    position: absolute;
    animation: fade 1.5s;
}
@keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
.showCurrentSlide.hide{
    display: none;
}

.home::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.594);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
