/* Nav Bar */
.navbar{
    background-color: transparent;
    height: 70px;
    z-index: 999;
    position: fixed;
    top: 0;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}
/* nav drop down */
.navbar.active{
    background-color: #1c1c1c;
    color: white;
    position: fixed;
    transition: all 0.6s ease;
}

ul li a:hover{
  border-bottom: 2px solid rgb(30, 97, 30);
  transition: all 0.8s ease;
}

/* Header Image */


/* */

